/* --- 1. 更換全站字體 --- */
/* 選取 body 和所有標題，以及 subheading，將字體設為思源黑體 */
/* "Noto Sans TC" 必須對應我們在 HTML 中 <link> 引入的字體名稱 */
body, h6, .h6, h5, .h5, h4, .h4, h3, .h3, h2, .h2, h1, .h1, .subheading {
font-family: "Noto Sans TC", sans-serif;
text-transform: none; /* 取消模板預設的英文字母大寫 */
}

h2{
    text-transform:uppercase;
}